.form {
  width: 100%;
}

.radioWrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.buttonSubmit {
  padding: 0 63px;
}

.formItem {
  display: grid;
  grid-template-columns: 1fr 1fr;
  text-align: left;
}
