@import "../../Styles/color";

.modal {
  border-radius: 16px;
}

.modalTitle {
  text-align: center;
  font-weight: 700 !important;
}

.modalButtonContainer {
  display: flex;
  justify-content: center;
  align-items: center;
}

.modalButton {
  padding: 0 62px;
}
